@page
@model StudentManagingSystem_Client.Pages.TeacherPage.AddTeacherModel
@{
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Teacher">Quản lý giảng viên</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="Request.FullName" class="col-sm-12 col-md-2 col-form-label">Họ và tên</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Request.FullName" class="form-control" type="text" placeholder="Họ và tên" required="required">
                        </div>
                    </div>
                    @if (ViewData["Title"] != null)
                    {
                        <div class="form-group row">
                            <label asp-for="Request.Email" class="col-sm-12 col-md-2 col-form-label">Email</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="Request.Email" class="form-control form-control-danger" type="Email" placeholder="Nhập email" required="required">
                                <span asp-validation-for="Request.Email" class="text-danger"></span>
                                <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                    @ViewData["Title"]
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <label asp-for="Request.Email" class="col-sm-12 col-md-2 col-form-label">Email</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="Request.Email" class="form-control" type="email" placeholder="Email" required="required">
                                <span asp-validation-for="Request.Email" class="text-danger"></span>
                            </div>
                        </div>
                    }

                    <div class="form-group row">
                        <label asp-for="Request.Password" class="col-sm-12 col-md-2 col-form-label">Mật khẩu</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Request.Password" class="form-control" type="text" placeholder="Mật khẩu" required="required">
                            <span asp-validation-for="Request.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Request.Adress" class="col-sm-12 col-md-2 col-form-label">Địa chỉ</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Request.Adress" class="form-control" type="text" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Request.Phone" class="col-sm-12 col-md-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Request.Phone" class="form-control" type="text" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Request.Gender" class="col-sm-12 col-md-2 col-form-label">Giới tính</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="Request.Gender" class="custom-select col-12">
                                <option selected="">Chọn...</option>
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                                <option value="Other">Khác</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Request.DOB" class="col-sm-12 col-md-2 col-form-label">Ngày sinh</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Request.DOB" class="form-control date-picker" type="text" placeholder="Ngày sinh">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Request.Status" class="col-sm-12 col-md-2 col-form-label">Trạng thái</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="Request.Status" class="custom-select col-12">
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a asp-page="Teacher" type="submit" class="btn btn-danger">Thoát</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>