@page
@model StudentManagingSystem_Client.Pages.DepartmentPage.AddDepartmentModel
@{
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Department">Quản lý khoa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="row col-sm-12 col-md-12" style="width:100%; margin: 0">
                        <div class="form-group col-sm-4">
                            <label asp-for="DepartmentAddRequest.DepartmentName" class="col-sm-12 col-md-12 col-form-label">Tên khoa</label>
                            <div class="col-sm-12 col-md-12">
                                <input asp-for="DepartmentAddRequest.DepartmentName" class="form-control" type="text" placeholder="Tên khoa">
                            </div>
                        </div>
                        @if (ViewData["messageCode"] != null)
                        {
                            <div class="form-group col-sm-4">
                                <label asp-for="DepartmentAddRequest.DepartmentCode" class="col-sm-12 col-md-12 col-form-label">Mã khoa</label>
                                <div class="col-sm-12 col-md-12">
                                    <input asp-for="DepartmentAddRequest.DepartmentCode" class="form-control form-control-danger" type="text" placeholder="Mã khoa" required="required">
                                    <span asp-validation-for="DepartmentAddRequest.DepartmentCode" class="text-danger"></span>
                                    <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                        @ViewData["messageCode"]
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-sm-4">
                                <label asp-for="DepartmentAddRequest.DepartmentCode" class="col-sm-12 col-md-12 col-form-label">Mã khoa</label>
                                <div class="col-sm-12 col-md-12">
                                    <input asp-for="DepartmentAddRequest.DepartmentCode" class="form-control" type="text" placeholder="Mã khoa" required="required">
                                    <span asp-validation-for="DepartmentAddRequest.DepartmentCode" class="text-danger"></span>
                                </div>
                            </div>
                        }
                        <div class="form-group col-sm-4">
                            <label asp-for="DepartmentAddRequest.Status" class="col-sm-12 col-md-12 col-form-label">Trạng thái</label>
                            <div class="col-sm-12 col-md-12">
                                <select asp-for="DepartmentAddRequest.Status" class="custom-select col-12">
                                    <option style="color: green; font-weight:bold" value="true">Hoạt động</option>
                                    <option style="color: red; font-weight:bold" value="false">Không hoạt động</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label asp-for="DepartmentAddRequest.Status" class="col-sm-12 col-md-12 col-form-label">Mô tả</label>
                            <div class=" col-sm-12 col-md-12">
                                <textarea class="swal2-textarea" rows="4" cols="50" style="margin: 0;width:100%"></textarea>
                            </div>
                        </div>
                        <div 
                            style="display:flex; justify-content: flex-end"
                             class="btn-list col-sm-12 col-md-12">
                            <a asp-page="Department" type="submit" class="btn" style="min-width:150px;background: #CAC4D0; color: white">Hủy</a>
                            <button type="submit" class="btn btn-primary" style="min-width:150px;">Lưu</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>